

body {
    background: linear-gradient(to right, rgba(0,0,0,0), dimgrey, rgba(0,0,0,0));
}

a:link, a:active, a:visited {
    color: darkred;
}
a:hover {
    color: crimson;
}

.posting-panel {
    background: linear-gradient(to right, darkgrey, white, darkgrey);
}

.post-panel {
    background-color: white;
}